<form nz-form action="" [formGroup]="form" (ngSubmit)="submit()">
    <div nz-form-item>
        <nz-input
            formControlName="password"
            [nzPlaceHolder]="'新密码'"
            [(ngModel)]="password"
        ></nz-input>
    </div>
    <div nz-form-item>
        <nz-input
            [nzPlaceHolder]="'确认新密码'"
            [(ngModel)]="confirmPassword"
            [ngModelOptions]="{standalone:true}"
        ></nz-input>
    </div>
    <div nz-form-item>
        <button type="submit" nz-button [nzType]="'primary'">确认</button>
    </div>
</form>